@tailwind base;
@tailwind components;
@tailwind utilities;

.animate {
  transition: all 3s ease;
  position: absolute;
}

.animate.topIn {
  margin-top: 0px;
}

.animate.topOut {
  margin-top: -250px;
}

.top-12 {
  top: 3rem;
}

.top-24 {
  top: 6rem;
}
